<div class="background">
    <div class="login-container">
        <div class="form-container">
            <h1>Welcome to Weight Mate Registration</h1>
            <h5>Register with your email and a password</h5>
            <app-register-form (formData)="register($event)"></app-register-form>
        </div>
        <div class="text-container">
            <h1>Hey Buddy</h1>
            <p>
                Already have an account with us?  Go ahead and click the button below to sign in!
            </p>
            <button class="btn btn-outline-primary" routerLink="/">Sign In</button>
        </div>
    </div>
</div>