<nav class="navbar navbar-light" style="background-color:cornflowerblue">
  <div class="container">
    <h1>
      <span class="navbar-brand mb-0 h1">Weight Mate</span>
    </h1>
    <a (click)="showAddWater()">Add Water</a>
    <a (click)="showAddWeight()">Add Weight</a>
    <a (click)="showAddFood()">Add Food Item</a>
    <a (click)="showAddExercise()">Add Exercise</a>

      <button class="btn btn-secondary">See Graphs</button>
      <button class="btn btn-secondary">Profile</button>

      <button class="btn btn-info">Log Out</button>
  </div>
</nav>

<app-dashboard></app-dashboard>

<router-outlet></router-outlet>

<div>
  
  <app-add-food *ngIf="display == 11"></app-add-food>
  <app-add-water *ngIf="display == 12"></app-add-water>
  <app-add-weight *ngIf="display == 13"></app-add-weight>
  <app-add-exercise *ngIf="display == 14"></app-add-exercise>
</div>



