<nav class="navbar navbar-light" style="background-color:cornflowerblue">
  <div class="container">
    <h1>
      <span class="navbar-brand mb-0 h1">Weight Mate</span>
    </h1>
      <Button class="btn btn-primary">Add Water</Button>
      <button class="btn btn-secondary">Add Exercise</button>
      <button class="btn btn-info">Add Weight</button>
      <button class="btn btn-info">
        <a (click)="showAddFood()">Add Food Item</a>
      </button>
      <button class="btn btn-secondary">See Graphs</button>
      <button class="btn btn-secondary">Profile</button>
      <button class="btn btn-info">
        <a (click)="showSignIn()">Sign In</a>
      </button>
      <button class="btn btn-info">Log Out</button>
  </div>
</nav>

<div class="container">
  <h1 class="bigFont">
    Welcome to Weight Mate!
  </h1>
</div>

<div>
  <app-user-login *ngIf="display == 10" ></app-user-login>
  <app-add-food *ngIf="display == 11"></app-add-food>
</div>




