<div class="container">
    <h1>User Details</h1>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="uid" placeholder="UID">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="userName" placeholder="User Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="email" placeholder="User email">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="fName" placeholder="First Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="lName" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="birthdate" placeholder="Birthdate ">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="height" placeholder="Height">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" [(ngModel)]="weight" placeholder="Current Weight">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button" (click)="addNewUser()">Sign Up</button>
            </div>
        </div>
    </div>
</div>

